$orange: rgb(255, 170, 85);
$darkblue: rgb(8, 108, 175);
$blue: rgb(32, 156, 238);
$red: rgb(83, 14, 26);
$redhover: rgb(182, 109, 121);
$gray: rgb(43, 37, 34);
$green: rgb(44, 55, 20);
$white: rgb(193, 198, 191);
$whitehover: rgb(219, 219, 219);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// html {
//     height: 100%;
// }

body {
    background-color: $white;
    height: 100%;

    .navbar {
        background-color: $white  !important;

        a {
            font-family: 'Helvetica';
            color: $red  !important;
        }

        a:hover {
            font-family: 'Helvetica';
            color: $redhover  !important;
        }
    }

    .hero {
        display: flex;
        background-color: $red;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100vw;
    }

    .innerbar {
        background: repeating-linear-gradient(to bottom,
                $white,
                $white 33.33%,

                $red,
                $red 33.33%,
                $white,
            );
        background-size: 100%;
    }

    .hero-image {
        display: block;
        margin: auto;
        border: 10px solid $red;
    }

    .about-me {
        display: flex;
        background-color: $white;
        width: 100vw;
        padding-bottom: 50px;

        .about {
            width: 100vw;
            font-family: 'Helvetica';
            font-size: large;
            color: $red  !important;
        }
    }

    .works {
        width: 100vw;
        font-family: 'Helvetica';
        background-color: $white;
        display: flex;
        justify-content: center;

        // margin-bottom: 250px;
        .works-left {
            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .work {
                height: 400px;
                width: 550px;
                margin-bottom: 60px;

                img {
                    border: 10px solid $red;
                    max-width: 100%;
                    max-height: 100%;
                    height: 300px;
                    width: 100%;
                }

                img:hover {
                    transition: .3s;
                    filter: blur(4px);
                    -webkit-filter: blur(4px);
                }

                .title {
                    color: $white;
                    background-color: $red;
                    text-decoration: none;
                    width: 100%;
                }

                .descrip {
                    color: $white;
                    background-color: $red;
                    text-decoration: none;
                    width: 100%;
                }

                .title:hover {
                    color: $whitehover;
                }

                h3 {
                    text-decoration: none;
                }

                p {
                    text-decoration: none;
                    font-size: small;
                    padding-bottom: 10px;
                }
            }
        }
    }

    footer {
        width: 100vw;
        color: $white;
        background-color: $red;
        padding-bottom: 30px;
        border-top: 5px groove $red;
        display: flex;
        flex-direction: column;

        .contact {
            padding-bottom: 20px;
            padding-top: 20px;
            text-decoration: underline;
            font-size: 30px;


        }



        .list {
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            .item {
                border: 5px outset $white;
                padding: 10px 50px;
                text-decoration: none;
                color: $white;
                font-size: 25px;
            }

            .item:hover {
                color: $whitehover;
                background-color: $redhover;
            }
        }
    }
}

@media (max-width: 360px) {
    body {
        .hero-image {
            border: 5px solid $red;
        }

        .works {
            .works-left {
                .work {
                    height: 150px;
                    width: 200px;

                    img {
                        border: 5px solid $red;
                        width: 100%;
                    }

                    .title {
                        font-size: medium;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    body {
        footer {
            .contact {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }

            .list {
                .item {
                    padding: 5px 15px !important;
                }
            }
        }
    }
}

@media (max-width: 440px) {
    body {
        .works {
            .works-left {
                .work {
                    height: 200px !important;
                    width: 350px !important;
                    margin-bottom: 90px;

                    img {
                        border: 5px solid $red;
                        height: 240px;
                        width: 100%;
                    }

                    .title {
                        font-size: 15px !important;
                    }
                }
            }
        }

        footer {
            padding-bottom: 10px;

            .contact {
                font-size: 25px;
                padding-bottom: 10px;
                padding-top: 10px;
            }

            .list {
                .item {
                    font-size: 10px;

                }
            }
        }
    }
}

@media (max-width: 576px) {
    body {
        .hero-image {
            border: 5px solid $red;
        }

        .works {
            .works-left {
                .work {
                    height: 200px;
                    width: 250px;

                    img {
                        border: 5px solid $red ;

                    }

                    .title {
                        font-size: 12px;

                    }
                }
            }
        }

        footer {
            .contact {
                font-size: 30px;
                padding-bottom: 10px;
                padding-top: 5px;
                text-decoration: underline;


            }

            .list {
                .item {
                    border: 3px outset $white;
                    padding: 10px 30px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        .works {
            .works-left {
                .work {
                    height: 200px;
                    width: 300px;

                    .title {
                        font-size: 15px;
                    }
                }
            }
        }

        footer {
            .list {
                .item {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    body {
        .works {
            .works-left {
                .work {
                    height: 200px;
                    width: 300px;

                    img {
                        border: 10px solid $red;


                    }

                    .title {
                        font-size: 15px;
                    }
                }

            }
        }

        footer {
            .list {
                .item {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 999px) {
    body {
        .works {
            .works-left {
                .work {
                    height: 300px;
                    width: 400px;

                    img {
                        border: 10px solid $red;
                        width: 100%;
                    }

                    .title {
                        font-size: 18px;
                    }
                }

            }
        }

        footer {
            .list {
                .item {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        .works {
            .works-left {
                .work {
                    height: 300px;
                    width: 400px;

                    .title {
                        font-size: 20px;
                    }
                }

            }
        }

        footer {
            .list {
                .item {
                    font-size: 20px;
                }
            }
        }
    }


}

@media (max-width: 1200px) {
    body {
        .works {
            .works-left {
                .work {
                    height: 350px;
                    width: 500px;
                }
            }
        }
    }
}